<div class="main-container">
  <h3>Setup HttpClient</h3>
  <p>Before you can use the HttpClient, you need to import the Angular HttpClientModule in the root AppModule.</p>

  <pre class="pre-text">
      <code [innerHTML]="httpClinetCode"></code>
    </pre>
  <p>Now you can inject the httpClient service into application and start using all Ajax methods.</p>
  <pre class="pre-text">
      <code [innerHTML]="httpServiceCode"></code>
    </pre>
  <div class="text-headline">1. Making Get call</div>
  <p>To be continue with HttpService code by adding get method</p>

  <pre class="pre-text">
      <code [innerHTML]="httpGetCall"></code>
    </pre>

  <div class="text-headline">2. Making POST call</div>
  <pre class="pre-text">
      <code [innerHTML]="httpPostCall"></code>
    </pre>
  <p>Here you should add headers for making the POST call, lets see how we will add header below.</p>

  <div class="text-headline">3. Adding Headers to Http Post call</div>
  <p>We require to add http headers to make http calls</p>

  <pre class="pre-text">
      <code [innerHTML]="httpHeaders"></code>
    </pre>

  <div class="text-headline">4. Making the delete call</div>

  <pre class="pre-text">
      <code [innerHTML]="httpDelete"></code>
    </pre>

  <div class="text-headline">4. Making the PUT call</div>

  <pre class="pre-text">
      <code [innerHTML]="httpPutCall"></code>
    </pre>

</div>
