/* You can add global styles to this file, and also import other style files */

// @import "styles-variables";


@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0%;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
    color: #333;
    font-size: 14px;
}

.container{
  padding-top: 70px;
  padding-left: 120px;
}

.main-container {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 350px;
  padding-bottom: 20px;
  p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 400;
  }
  .l-sub-section {
    color: #333;
    background-color: rgba(25,118,210,.05);
    border-left: 8px solid #3f51b5;
    padding: 16px;
    margin-bottom: 8px;
    display: table;
    clear: both;
    width: 100%;
    box-sizing: border-box;
  }
}

.text-headline {
  font-size: 15px;
  //color:#3f51b5;
  margin-top: 10px;
  //text-transform: uppercase;
}

.code-text{
  background: black;
  border: .5px solid #dbdbdb;
  border-radius: 5px;
  color:navajowhite;
  margin: 16px auto;
  padding-left: 5px;
}

.pointer{
  cursor: pointer;
}

.pre-text{
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  border: 2px solid;
  color: #abb2bf;
  background: #282c34;
  font-size: 12px;
  padding-left: 5px;
}

.menu-bar-font{
  font-size: 12px;
  margin: 0px;
  padding: 1px;
  height: 35px !important;
  line-height: 30px;
}

h1{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    margin: 8px 0;
}

.red{
  color: red;
}


.footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 60px;
  background-color: #3f51b5;
 -webkit-font-smoothing: antialiased;
 display: block;
}

@media only screen and (max-width: 600px) {
 .main-container{
   padding: 5px
 }
}
