<div class="main-container">
  <h3>Set up the Development Environment </h3>
  <p>We have great tools which will help us to create angular application quicker and faster. Before start creating application,
    make sure you install the below softwares.</p>
  <p>Install
    <a href="https://nodejs.org/en/download/" target="_blank">Node.js and npm </a>if they are not already on your machine.</p>

  <div class="l-sub-section">
    <p>To Verify the installation do the following
    </p>
    <p>1) Open commend propt </p>
    <p>2) node -v </p>
    <p>3) npm -v</p>
    <p>4) npm install -g @angular/cli</p>
  </div>

  <h5>1. Create a new project</h5>
  <p>Open a terminal window and run the following command.</p>
  <div class="code-text">
    <code>ng new my-app</code>
  </div>
  <div class="l-sub-section">
    <p>Here my-app is the project name that you want to create.</p>
  </div>

  <h5>2. Run the application</h5>

  <p>after successfully created project, go to the project folder in terminal and run the following commands </p>
  <div class="code-text">
    <code>ng serve -o</code>
  </div>
  <p>Now you can see on the browser the working project</p>
</div>
