<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ajay Kumar Chagam</mat-card-title>
      <mat-card-subtitle>Full stack developer</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image width="50%" height="20%" src="../../assets/ajaychagam.jpeg" alt="Photo of a Ajay Chagam"> -->
    <mat-card-content>
      <p>
        I am a full stack developer who passinate about UI developement and building the web application using like angular, java
        script and also related to all UI and java, j2ee technologies.
      </p>
      <p> You can contact me for project work or any support work.</p>
      <p>CH. Ajay Kumar</p>
      <p>Email: myifelseloop@gmail.com</p>
      <p>whats app number :+91 903-0368-730</p>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
  </mat-card>

</div>
