<div class="main-container">
  <h1>Latest vscode extensions for angular</h1>

  <app-text-headline text='1. Angular2 Switcher'></app-text-headline>
  <p> Angular2-switcher is very helpfull to switch between the TS, HTML, CSS and Spec files very fast using the keyboard shotcuts.
  </p>

  <ul>
    <li>
      <p> alt+o(Windows) shift+alt+o(macOS) if on .ts|.css|.spec.ts: go to html</p>
    </li>
    <li>
      <p>alt+i(Windows) shift+alt+i(macOS) if on .ts|.html|.spec.ts: go to css </p>
    </li>
    <li>
      <p> alt+u(Windows) shift+alt+u(macOS) if on .css|.html|.spec.ts: go to ts</p>
    </li>
    <li>
      <p>alt+p(Windows) shift+alt+p(macOS) if on .ts|.css|.html: go to spec.ts </p>
    </li>
  </ul>

  <app-text-headline text='2. Angular Language Service'></app-text-headline>
  <p> Which will help you for autocompile properties and methods of ts file to HTMl.</p>

  <app-text-headline text="3. json2ts"></app-text-headline>
  <p>json2ts is a VSCode Extension which converts a JSON to TypeScript interfaces.</p>

  <p>Usage json2ts converts a JSON from clipboard to TypeScript interfaces with cmd+alt+V or ctrl+alt+V.</p>
  Ex:
  <app-pre-code [code]="json2Interface"></app-pre-code>
  <app-text-headline text="4. Angular v6 snippets"></app-text-headline>
  <p>This extension is optimized for developers that use Angular and are no longer using AngularJS (Angular 1). If you type
    in AngularJS keywords, it will suggest an Angular solutions. This is by design and meant to help developers learn how
    AngularJS concepts and techniques map to Angular.</p>
</div>
